{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'upload_progress/css/style.css' %}">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function on_progress(e) {       //看这个函数之前先看upload函数。这个函数可以接收一个evt(event)对象(细节自行查询progress)，他有3个属性lengthComputable，loaded，total，第一个属性是个bool类型的，代表是否支持，第二个代表当前上传的大小，第三个为总的大小，由此便可以计算出实时上传的百分比
            if (e.lengthComputable) {
                let percent = (e.loaded / e.total) * 100 + '%';
                $('.progress > div').css('width', percent);
                $('#percent').get(0).innerHTML = percent;
            }
        }

        function fileChange(target) {
            console.log(target)
            if (target.files.length !== 3) {
                alert('please select 3 files')
            } else if (target.files.length > 0) {
                $('.progress > div').css('width', 0);
                $('#percent').get(0).innerHTML = 0 + '%';
                $('.progress').css('display', 'block');
                $('.percent').css('display', 'block');
            } else {
                $('.progress').css('display', 'none');
                $('.percent').css('display', 'none');
            }
        }

        function upload() {
            let formdata = new FormData($('form').get(0));   //FormData是HTML5为实现序列化表单而提供的类，更多细节可自行查询
            //xhr对象含有一个upload对象，它有一个progress事件，在文件上传过程中会被不断触发，我们为这个事件对应一个处理函数，每当事件触发就会调用这个函数，于是便可利用这个函数来修改当前进度，更多细节可自行查询
            if ($('#file').get(0).files.length > 0) {
                $.ajax({
                    url: '{% url 'upload_progress:upload' %}',
                    type: 'post',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    xhr: function () {
                        let xhr = new XMLHttpRequest();
                        xhr.upload.addEventListener('progress', on_progress, false);
                        return xhr;
                    }
                })
            }
        }
    </script>
</head>
<body>
<form>
    {% csrf_token %}
    {% comment %}<div id='1' style="height:20px;width:100px;border:2px solid gray;float:left;margin-right:10px;">
			<div id='2' style="height:100%;width:0px;background:gray;"></div>

		</div>
		<b style="margin-right:20px" id='3'>0%</b>{% endcomment %}
    <div class="progress">
        <div></div>
    </div>
    <b id="percent" class="percent">0%</b>
    <input type="file" id='file' class='file' name="file" multiple="multiple" onchange="fileChange(this)"><br><br>
    <button type="button" onclick="upload();">上传</button>
</form>
</body>
</html>