{% extends 'largeFileUpload/base.html' %}
{% load static %}
{% block content %}
<form method="post" action="{% url 'largeFileUpload:index' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <span class="btn btn-success fileinput-button">
        <i class="bi-plus"></i>
        <span>Add files</span>
        <input type="file" name="file" multiple>
    </span>
    <button type="submit" class="btn btn-primary">
        <i class="bi-cloud-upload"></i>
        <span>Upload</span>
    </button>
</form>
{% endblock %}